<div class="music__img"></div>

<style>

.music__img {
  /* 
  dynamically insert background images
  background-image: url('photos/deep-space.jpg'); */
  background-size: cover;
  background-position: center center;
  height: 40vh;
  max-width: 100%;
}

</style>